<!-- <div class="container-create-member">
  <div class="login">
    <h1>Create Member</h1>
    <form
      #userLogin="ngForm"
      (ngSubmit)="login(userLogin.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="text"
        ngModel
        name="fullName"
        placeholder="Enter FullName"
      />

      <input
        class="form-input"
        type="text"
        ngModel
        name="userName"
        placeholder="Enter UserName"
      />

      <input
        class="form-input"
        type="text"
        ngModel
        name="password"
        placeholder="Enter Password"
      />

      <input
        class="form-input"
        type="text"
        ngModel
        name="age"
        placeholder="Enter Age"
      />

      <input
        class="form-input"
        type="text"
        ngModel
        name="gender"
        placeholder="Enter Password"
      />

      <input
        class="form-input"
        type="text"
        ngModel
        name="password"
        placeholder="Enter Password"
      />
      <button class="form-button">Login</button>
    </form>
  </div>
</div> -->
