<div class="team-list">
  <h1>All Team</h1>
  <!-- <p class="message-p">{{ productMessage }}</p> -->
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Member Count</th>
        <th>Team Leader</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of teamList">
        <td routerLink="/management-detail/{{ item.id }}">{{ item.id }}</td>
        <td routerLink="/management-detail/{{ item.id }}">{{ item.name }}</td>
        <td routerLink="/management-detail/{{ item.id }}">
          {{ item.member.length }}
        </td>
        <td routerLink="/management-detail/{{ item.id }}">
          {{ item.teamLeader.fullName }}
        </td>
        <td>
          <fa-icon (click)="deleteTeam(item.id)" [icon]="iconDelete"></fa-icon>
          <a
            class="adjust-update-link"
            routerLink="/seller-update-product/{{ item.id }}"
            ><fa-icon [icon]="iconEdit"></fa-icon
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
