table {
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid blueviolet;
    padding: 10px;
    min-height: 160px;
}

tbody tr {
  cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
}

.adjust-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.count {
  text-align: center;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

