<div class="team-list">
  <h1>All Team</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Member Count</th>
        <th>Team Leader</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of teamList">
        <td routerLink="/management-detail/{{ item.id }}">{{ item.id }}</td>
        <td routerLink="/management-detail/{{ item.id }}">{{ item.name }}</td>
        <td class="count" routerLink="/management-detail/{{ item.id }}">
          {{ item.member.length }}
        </td>
        <td routerLink="/management-detail/{{ item.id }}">
          {{ item.teamLeader.fullName }}
        </td>
        <td>
          <fa-icon
            class="adjust-icon"
            routerLink="/management/add-member/{{ item.id }}"
            [icon]="iconPlus"
          ></fa-icon>
          <fa-icon
            class="adjust-icon {{ isDisabled }}"
            (click)="deleteTeam(item.id)"
            [icon]="iconDelete"
          ></fa-icon>
          <a class="adjust-icon {{ isDisabled }}" routerLink="/management"
            ><fa-icon [icon]="iconEdit"></fa-icon
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
