/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.common-form {
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 300px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid blueviolet;
  font-size: 16px;
}

.form-button {
  height: 35px;
  border: 1px solid blueviolet;
  cursor: pointer;
}

.error-p {
  color: red;
}
.message-p {
  color: green;
}
