

.login {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  color: blueviolet;
}

.login h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: blueviolet;
}

.container-item {
  display: flex;
  align-items: center;
  text-align: flex-start;
  border-color: blueviolet;
}

.container-item select {
  height: 25px;
  width: 170px;
}

.container-item p {
  display: inline-flex;
  width: 150px;
}


label {
  padding-top: 7px;
  display: inline-flex;
  width: 130px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: bold;
}

