.container-login {
}

.login {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  color: blueviolet;
}

.login h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: blueviolet;
}

.container-item {
  display: flex;
  align-items: center;
  text-align: space-between;
  border-color: blueviolet;
}


label {
  display: inline-block;
  align-content: center;
  width: 130px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: bold;
}

